@import 'tailwindcss';

@theme {
  --color-primary: #3818d9;
  --color-primary-light: #a899f1;
  --color-secondary: #ffffff;
  --color-third: #545454;
  --color-third-light: #716e6c;
  --color-aux: #d9d9d9;
}
/*
Con estos slayer component de tailwind mediante las clases peer y form-input  y en el label form label  permite la animacion de translate  de los inputs y elementos 
*/
@layer components {
  /*
    esta clase permite darle los estilos grobales a los inputs
  */
  .form-input {
    @apply block w-full rounded-md border-b-2 border-b-gray-300 bg-transparent px-3 py-2 text-gray-900 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500;
  }
  /*
    Con esta clase permitimos que el label se dezplace hacia arriba cuando se haga focus en el input y cambie de color el texto
  */
  .form-label {
    @apply absolute left-3 top-2 text-gray-500 transform scale-100 transition-all duration-200 pointer-events-none peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-7 peer-focus:scale-75 peer-focus:text-blue-500;
  }

  /*
  Con esta clase se puede hacer que el input se vea como si estuviera lleno  se utiliza para dezplazar el label hacia arriba y cambiar el color del texto cuando el input esta lleno dando coherencia con el form-label
  */
  .form-input-filled-label {
    @apply -translate-y-7 scale-75 text-blue-500;
  }

  .form-select {
    @apply appearance-none pr-8 w-full h-full;
  }

  .form-group {
    @apply relative;
  }
}

:root {
  --sidebar-width: 300px;
}
* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

::-webkit-scrollbar {
  @apply bg-secondary w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-light w-2 rounded-md;
}
